@import "src/styles/colors.scss";
@import "src/styles/breakpoints.scss";

.forecast-item-coontainer {
  display: flex;
  align-items: center;
  width: unset;
  height: 74px;
  margin: 15px;
  padding: 8px 8px 8px 12px;
  background-color: $modal-background;
  border-radius: 6px;
  box-shadow: 2px 1px 4px 2px $box-shadow;
  color: $text;
  transition: all .21s;

  @include media-breakpoint-up(sm) {
    margin: 10px 15px 10px 0;
    width: 195px;
  }

  &:hover {
    background-color: $modal-background-hover;
    margin: 15px 0;
    color: $text-hover;
    box-shadow: 3px 1px 5px 3px $box-shadow-hover;

    @include media-breakpoint-up(sm) {
      transform: scale(1.05);
    }
  }

  img {
    width: 70px;
    height: 70px;
  }

  .forecast-item-day {
    font-size: 20px;
  }
  .forecast-item-type {
    margin: 4px 0;
    font-size: 13px;
  }
  .forecast-item-temprature {
    font-size: 20px;
  }
}
