<div
  class="popup-coontainer"
  [style.left.px]="positionLeft"
  [style.top.px]="positionTop"
  [@openClose]="isVisilbe ? 'open' : 'closed'"
>
  <div class="popup-content">
    <img [src]="icon" alt="icon" class="popup-icon">
    <div class="popup-temprature">{{temprature}} °C</div>
    <div class="popup-data">
      <div class="popup-city">{{city}}</div>
      <div class="popup-type">{{weatherType}}</div>
      <div class="popup-temprature-mobile">{{temprature}} °C</div>
    </div>
  </div>
</div>