<div class="weather-app-main-container">
  <app-map
    [modalIsVisible]="modalIsVisible"
    (clickEvent)="handleClick($event)"
    (mapReposition)="handlePopupPosition($event)"
  ></app-map>
  <forecast-modal
    [forecasts]="forecasts"
    [isVisilbe]="modalIsVisible"
    [city]="city"
    ></forecast-modal>
  <app-popup
    [isVisilbe]="modalIsVisible"
    [icon]="current.icon"
    [weatherType]="current.weatherType"
    [temprature]="current.temprature"
    [city]="city"
    [positionLeft]="position.left"
    [positionTop]="position.top"
  ></app-popup>
</div>
